@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500&display=swap');
*{
    font-family: 'Inconsolata', monospace;
}
.pace {
    display: none;
}

.main-style {
    color: white;
    min-height: 100vh;
    background: linear-gradient(180deg, #16213E 50%, #533483 150% );
    /* background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom; */
}
.hide{
    display: none;
}
.add-task{
    color: white;
    width: 100px;
    height: 30px;
    background-color: #E94560;
}
.table-container{
    overflow: hidden;
    background-color: #0F3460;
    border-radius:10px;
    height: max-content;
}
.table-header{
    background: linear-gradient(#E94560,#0F3460 105%);
}
.table-body .task:last-child{
    border: none!important;
}
.task-status{
    margin: 9px;
    width: 1em;
}
.bi-question-circle-fill , .bi-check-circle-fill {
    font-size: 1.2em;
}
.task{
    background-color: inherit;
    color: #c8c8c8;
    font-size: 13px;
}
.task-body > *{
    padding: 5px;
    font-size: 1.25em;
}
.task-title{
    font-size: 1.5em
}
.task-priority , .save-btn {
    background-color: #E94560;
    color: white;
}
.task-type , .cancel-btn{
    background-color: white;
    color: #E94560;
}
.spinner-border{
    width: 18px;
    height: 18px;
}
.modal-dialog{
    margin-top: 10vh;
}
.update-btn{
    background-color: #FF9F29;
}
.delete-btn{
    background-color: #6E85B7;
}
.non-update-mode{
    display: none;
}